<h1 class="sr-only">Fitness Tracker</h1>
<div *ngIf="isSmallDevice" class="e-tab-header-mobile-icon-container">
  <div class="e-tab-header-icon-div">
    <span class="e-tab-header-icon icon-Logo"></span>
  </div>
  <div class="e-tab-title">GO<span>FIT</span></div>
</div>
<div *ngIf="isSmallDevice" class="separator-div"></div>
<ejs-tab id="fitness-tab" #fitnesstab class="tab-container" (created)="created()" [headerPlacement]="headerPlacement"
  (selecting)="tabSelecting($event)" (selected)="tabSelected($event)" [selectedItem]="0">
  <e-tabitems>
    <e-tabitem [header]='headerText[0]'>
      <ng-template #content>
        <div class="e-dashboardlayout-container  e-activity-dashboardlayout-container">
          <div class="col-md-9 e-dashboard-content">
            <div class="col-md-12 col-sm-12">
              <div id="activity-panel-id" class="e-panel e-my-activities-panel" data-row="0" data-col="0"
                [attr.data-sizeX]="activitySizeX" data-sizeY="1">
                <div class="e-panel-container">
                  <div class="e-panel-header col-md-12 col-sm-12 col-xs-12 col-lg-12">
                    <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3 e-my-activities-header">My Activities</div>
                    <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3 e-my-activities-date">
                      <ejs-datepicker #datepicker [value]='currentDate' [max]="maxDate" [width]="datePickerWidth"
                        (change)="onDateChange($event)"></ejs-datepicker>
                    </div>
                  </div>
                  <div class="e-panel-content e-activity-card-container">
                    <div tabindex="0" class="e-card e-heart-rate-card">
                      <div class="e-card-header" style="width: 100%">
                        <div class="e-card-header-image icon-Heart e-card-corner"></div>
                        <div class="e-card-header-caption" style="width: 100%">
                          <div>
                            <div class="e-card-header-title e-activity-card-title"> Heart Rate</div>
                            <!-- <div class="e-card-header-sub-title e-activity-card-sub-title">{{ heartRate }} BPM</div> -->
                          </div>
                        </div>
                      </div>
                      <div class="e-card-content">
                        <!-- <ejs-progressbar #heartrateProgress id='heartrateProgress' class="e-heartrate-progress"
                          type='Circular' maximum='100' minimum='0' value='100' [height]='progressHeight' width="50%"
                          [animation]='animation' [trackThickness]='trackThickness'
                          [progressThickness]='progressThickness' [startAngle]="progressStartAngle"
                          [endAngle]="progressEndAngle" [progressColor]="progressColor" [trackColor]="trackColor" segmentCount="segmentCount">
                          <e-progressbar-annotations>
                            <e-progressbar-annotation
                              content='<div class="e-progress-annotation"><img src="./assets/Profile/Heart-1.svg" alt="JW" /></div>'>
                            </e-progressbar-annotation>
                          </e-progressbar-annotations>
                        </ejs-progressbar> -->
                        <div class="e-bpm-value">{{ heartRate }} <span>bpm</span></div>
                        <div class="e-progress-annotation"><img src="./assets/Profile/Heart-1.svg" alt="JW" /></div>
                      </div>
                    </div>
                    <div tabindex="0" class="e-card e-steps-card">
                      <div class="e-card-header" style="width: 100%">
                        <div class="e-card-header-image icon-Steps e-card-corner"></div>
                        <div class="e-card-header-caption">
                          <div class="e-card-header-title e-steps-card-title"> Steps</div>
                        </div>
                      </div>
                      <div class="e-card-content">
                        <div class="e-activity-actual">{{ steps }}</div>
                        <div class="e-activity-goal">6000</div>
                      </div>
                    </div>
                    <div tabindex="0" class="e-card e-calories-card">
                      <div class="e-card-header" style="width: 100%">
                        <div class="e-card-header-image icon-Calories e-card-corner"></div>
                        <div class="e-card-header-caption">
                          <div class="e-card-header-title e-calories-card-title"> Calories</div>
                        </div>
                      </div>
                      <div class="e-card-content">
                        <div class="e-activity-actual">{{ consumedCalories }}
                          <span class="e-activity-actual-unit">kcal</span>
                        </div>
                        <div class="e-activity-goal">{{ expectedCalories }} kcal</div>
                      </div>
                    </div>
                    <div tabindex="0" class="e-card e-sleep-card">
                      <div class="e-card-header" style="width: 100%">
                        <div class="e-card-header-image icon-Sleep e-card-corner"></div>
                        <div class="e-card-header-caption">
                          <div class="e-card-header-title e-sleep-card-title"> Sleep</div>
                        </div>
                      </div>
                      <div class="e-card-content">
                        <div class="e-activity-actual">{{ sleepInHours }}</div>
                        <div class="e-activity-goal">8h</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div id="activity-chart-panel-id" class="e-panel e-activity-panel" data-row="1" data-col="0"
                [attr.data-sizeX]="chartSizeX" data-sizeY="1">
                <div class="e-panel-container">
                  <div class="e-panel-header col-md-12 col-sm-12 col-xs-12 col-lg-12">
                    <div class="col-md-5 col-sm-6 col-xs-8 col-lg-4 e-activity-chart-header-text">Activity Statistics
                    </div>
                    <div class="e-chart-dropdown col-md-3 col-sm-4 col-xs-4 col-lg-3">
                      <ejs-dropdownlist #chartdropdown id='chartdropdown' [dataSource]='dropDownData' index="0"
                        (change)="onDropDownChange($event)">
                      </ejs-dropdownlist>
                    </div>
                  </div>
                  <div class="e-chart-panel-content">
                    <ejs-chart #activitychart class="e-activity-chart" [chartArea]='chartArea' width='101%'
                      [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [height]="activityChartHeight"
                      [legendSettings]="legendSettings" [theme]="theme" [tooltip]='tooltip' [crosshair]="crosshair"
                      (legendClick)="legendClick($event)" (sharedTooltipRender)="chartTooltipRender($event)">
                      <e-series-collection>
                        <e-series [dataSource]="chartDietData" legendShape="Circle" type="Spline" fill="#2084FE"
                          xName="x" yName="y" name="Diet" width="4" [marker]="marker">
                        </e-series>
                        <e-series [dataSource]="chartData" legendShape="Circle" type="Spline" fill="#F547A8" xName="x"
                          yName="y" name="Workout" width="4" [marker]="marker">
                        </e-series>
                        <e-series [dataSource]='chartDietData' type='SplineArea' fill='url(#gradient-diet-chart)'
                          xName='x' yName='y'>
                        </e-series>
                        <e-series [dataSource]='chartData' type='SplineArea' fill='url(#gradient-activity-chart)'
                          xName='x' yName='y'>
                        </e-series>
                      </e-series-collection>
                    </ejs-chart>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div id="workout-panel-id" class="e-panel e-workout-panel" data-row="2" data-col="0"
                [attr.data-sizeX]="gridSizeX" data-sizeY="1">
                <div class="e-panel-container">
                  <div class="e-panel-header" style="margin-bottom: 5px;">
                    <div>Recent Workout</div>
                  </div>
                  <div>
                    <ejs-grid #workoutgrid [dataSource]='gridData' gridLines="None" rowHeight="60"
                      (queryCellInfo)='customiseCell($event)' [width]="gridWidth" height="100%">
                      <e-columns>
                        <e-column field='Workout' headerText='Workout' textAlign='Left' [width]="gridColumnWidth">
                        </e-column>
                        <e-column field='Distance' headerText='Distance (kms)' textAlign='Left'
                          [width]="gridColumnWidth" format="###.# km">
                        </e-column>
                        <e-column field='Duration' headerText='Duration (minutes)' textAlign='Left'
                          [width]="gridColumnWidth" format='### mins'>
                        </e-column>
                        <e-column field='Date' headerText='Date & Time' textAlign='Left' [width]="gridColumnWidth"
                          format="MMM dd,yyyy hh:mm a">
                        </e-column>
                        <e-column field='Completion' headerText='Completion' textAlign='Left' [width]="gridColumnWidth"
                          format="###'%'">
                        </e-column>
                      </e-columns>
                    </ejs-grid>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!isSmallDevice" class="col-md-3">
            <div id="activity-profile-panel-id" class="e-panel e-activity-profile-panel" data-row="0" data-col="4"
              data-sizeX="1" data-sizeY="3">
              <div class="e-panel-container">
                <app-profile [currentDate]="currentDate" [activities]="todayActivities" [profileStats]="profileStats"
                  (notify)="onProfileDateChange($event)" (onProfileEdit)="onProfileEdit()">
                </app-profile>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </e-tabitem>
    <e-tabitem [header]='headerText[1]'>
      <ng-template #content>
        <div class="e-dashboardlayout-container e-diet-dashboardlayout-container">
          <div class="col-md-9 e-dashboard-content">
            <div class="col-md-12 col-sm-12">
              <div id="meals-panel-id" class="e-panel e-meals-panel" data-row="0" data-col="0" data-sizeX="4"
                data-sizeY="1">
                <div class="e-panel-container">
                  <div class="e-panel-header">
                    <h1 style="float: left; font-size: 24px; margin-bottom: 0px; margin-top: 0px;">5 Course Meals</h1>
                  </div>
                  <div class="e-meals-card-container e-panel-content">
                    <div tabindex="0" class="e-card e-meals-card">
                      <div class="e-card-header">
                        <div class="e-card-header-img-container e-breakfast-card-container">
                          <div class="e-card-header-image icon-Breakfast"></div>
                        </div>
                        <div *ngIf="(isBreakFastMenuAdded && isToday)" class="e-meals-edit">
                          <div class="e-breakfast-edit icon-edit-2" (click)="editMenu($event)"></div>
                        </div>
                      </div>
                      <div class="e-card-content">
                        <div class="e-card-header-caption">
                          <div class="e-card-header-title e-meals-card-title"> Breakfast</div>
                        </div>
                        <div *ngIf="isBreakFastMenuAdded; else breakFastElseBlock">
                          <div class="e-had-meals">
                            <div class="e-meals-value" [title]="currentBreakFastMenuText">{{ currentBreakFastMenuText }}
                            </div>
                          </div>
                          <div class="e-calories-gain">{{ currentBreakFastCalories }} <span
                              class="e-card-cal-unit e-add-cal-unit">kcal</span></div>
                        </div>
                        <ng-template #breakFastElseBlock>
                          <div class="e-recom-meals-text">Recommended</div>
                          <div class="e-recom-meals-value">{{ breakFastRecom }} <span
                              class="e-card-cal-unit">kcal</span>
                          </div>
                          <button ejs-button class="e-add-menu-btn e-breakfast-add-btn"
                            (click)="addBtnClick($event)">ADD
                            MENU</button>
                        </ng-template>
                      </div>
                    </div>
                    <div tabindex="0" class="e-card e-meals-card">
                      <div class="e-card-header">
                        <div class="e-card-header-img-container e-snack1-card-container">
                          <div class="e-card-header-image icon-Snack-1"></div>
                        </div>
                        <div *ngIf="(isSnack1MenuAdded && isToday)" class="e-meals-edit">
                          <div class="e-snack1-edit icon-edit-2" (click)="editMenu($event)"></div>
                        </div>
                      </div>
                      <div class="e-card-content">
                        <div class="e-card-header-caption">
                          <div class="e-card-header-title e-meals-card-title"> Snack</div>
                        </div>
                        <div *ngIf="isSnack1MenuAdded; else snack1ElseBlock">
                          <div class="e-had-meals">
                            <div class="e-meals-value" [title]="currentSnack1MenuText">{{ currentSnack1MenuText }}</div>
                          </div>
                          <div class="e-calories-gain">{{ currentSnack1Calories }} <span
                              class="e-card-cal-unit e-add-cal-unit">kcal</span></div>
                        </div>
                        <ng-template #snack1ElseBlock>
                          <div class="e-recom-meals-text">Recommended</div>
                          <div class="e-recom-meals-value">{{ snack1Recom }} <span class="e-card-cal-unit">kcal</span>
                          </div>
                          <button ejs-button class="e-add-menu-btn e-snack1-add-btn" (click)="addBtnClick($event)">ADD
                            MENU</button>
                        </ng-template>
                      </div>
                    </div>
                    <div tabindex="0" class="e-card e-meals-card">
                      <div class="e-card-header">
                        <div class="e-card-header-img-container e-lunch-card-container">
                          <div class="e-card-header-image icon-Lunch"></div>
                        </div>
                        <div *ngIf="(isLunchMenuAdded && isToday)" class="e-meals-edit">
                          <div class="e-lunch-edit icon-edit-2" (click)="editMenu($event)"></div>
                        </div>
                      </div>
                      <div class="e-card-content">
                        <div class="e-card-header-caption">
                          <div class="e-card-header-title e-meals-card-title"> Lunch</div>
                        </div>
                        <div *ngIf="isLunchMenuAdded; else lunchElseBlock">
                          <div class="e-had-meals">
                            <div class="e-meals-value" [title]="currentLunchMenuText">{{ currentLunchMenuText }}</div>
                          </div>
                          <div class="e-calories-gain">{{ currentLunchCalories }} <span
                              class="e-card-cal-unit e-add-cal-unit">kcal</span></div>
                        </div>
                        <ng-template #lunchElseBlock>
                          <div class="e-recom-meals-text">Recommended</div>
                          <div class="e-recom-meals-value">{{ lunchRecom }} <span class="e-card-cal-unit">kcal</span>
                          </div>
                          <button ejs-button class="e-add-menu-btn e-lunch-add-btn" (click)="addBtnClick($event)">ADD
                            MENU</button>
                        </ng-template>
                      </div>
                    </div>
                    <div tabindex="0" class="e-card e-meals-card">
                      <div class="e-card-header">
                        <div class="e-card-header-img-container e-snack2-card-container">
                          <div class="e-card-header-image icon-Snack-2"></div>
                        </div>
                        <div *ngIf="(isSnack2MenuAdded && isToday)" class="e-meals-edit">
                          <div class="e-snack2-edit icon-edit-2" (click)="editMenu($event)"></div>
                        </div>
                      </div>
                      <div class="e-card-content">
                        <div class="e-card-header-caption">
                          <div class="e-card-header-title e-meals-card-title"> Snack</div>
                        </div>
                        <div *ngIf="isSnack2MenuAdded; else snack2ElseBlock">
                          <div class="e-had-meals">
                            <div class="e-meals-value" [title]="currentSnack2MenuText">{{ currentSnack2MenuText }}</div>
                          </div>
                          <div class="e-calories-gain">{{ currentSnack2Calories }} <span
                              class="e-card-cal-unit e-add-cal-unit">kcal</span></div>
                        </div>
                        <ng-template #snack2ElseBlock>
                          <div class="e-recom-meals-text">Recommended</div>
                          <div class="e-recom-meals-value">{{ snack2Recom }} <span class="e-card-cal-unit">kcal</span>
                          </div>
                          <button ejs-button class="e-add-menu-btn e-snack2-add-btn" (click)="addBtnClick($event)">ADD
                            MENU</button>
                        </ng-template>
                      </div>
                    </div>
                    <div tabindex="0" class="e-card e-meals-card e-dinner-card">
                      <div class="e-card-header">
                        <div class="e-card-header-img-container e-dinner-card-container">
                          <div class="e-card-header-image icon-Dinner"></div>
                        </div>
                        <div *ngIf="(isDinnerMenuAdded && isToday)" class="e-meals-edit">
                          <div class="e-dinner-edit icon-edit-2" (click)="editMenu($event)"></div>
                        </div>
                      </div>
                      <div class="e-card-content">
                        <div class="e-card-header-caption">
                          <div class="e-card-header-title e-meals-card-title"> Dinner</div>
                        </div>
                        <div *ngIf="isDinnerMenuAdded; else dinnerElseBlock">
                          <div class="e-had-meals">
                            <div class="e-meals-value" [title]="currentDinnerMenuText">{{ currentDinnerMenuText }}</div>
                          </div>
                          <div class="e-calories-gain">{{ currentDinnerCalories }} <span
                              class="e-card-cal-unit e-add-cal-unit">kcal</span></div>
                        </div>
                        <ng-template #dinnerElseBlock>
                          <div class="e-recom-meals-text">Recommended</div>
                          <div class="e-recom-meals-value">{{ dinnerRecom }} <span class="e-card-cal-unit">kcal</span>
                          </div>
                          <button ejs-button class="e-add-menu-btn e-dinner-add-btn" (click)="addBtnClick($event)">ADD
                            MENU</button>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div id="diet-chart-panel-id" class="e-panel e-diet-chart-panel" data-row="1" data-col="0" data-sizeX="4"
                data-sizeY="1">
                <div class="e-panel-container">
                  <div class="e-panel-header">
                    <div class="col-lg-5 col-md-3 col-sm-3 col-xs-12 e-diet-panel-header-text">Calorie Diet</div>
                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 e-consumed">
                      <div class="e-consumed-wrapper-text col-lg-3 col-md-4 col-sm-4 col-xs-4">Consumed Calories</div>
                      <div class="e-consumed-wrapper-value col-lg-9 col-md-8 col-sm-8 col-xs-6">
                        <span class="e-consumed-value">{{ consumedCalories }}</span><span
                          class="e-card-cal-unit e-add-cal-unit"> kcal</span>
                        <span class="e-card-cal-unit e-add-cal-unit"> / {{ expectedCalories }}kcal</span></div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 e-burned">
                      <div class="e-consumed-wrapper-text col-lg-4 col-md-4 col-sm-4 col-xs-4">Burned Calories</div>
                      <div class="e-consumed-wrapper-value col-lg-8 col-md-8 col-sm-8 col-xs-6">
                        {{ burnedCalories }}
                        <span class="e-card-cal-unit e-add-cal-unit">kcal</span>
                      </div>
                    </div>
                  </div>
                  <div class="e-diet-chart-panel-container e-panel-content">
                    <div class="e-chart-parent-div">
                      <div class="e-pie-chart-container">
                        <ejs-accumulationchart id="piecontainer" #piecontainer [legendSettings]="pieLegendSettings"
                          [tooltip]="pieTooltip" [theme]="theme" [height]="pieChartHeight" [width]="pieChartWidth"
                          [center]='center' (textRender)="onTextRender($event)"
                          (tooltipRender)="onTooltipRender($event)" enableSmartLabels="true">
                          <e-accumulation-series-collection>
                            <e-accumulation-series [dataSource]='pieData' pointColorMapping='fill' xName='x' yName='y'
                              [startAngle]="startAngle" [endAngle]="endAngle" innerRadius="50%"
                              [radius]="pieChartRadius" [dataLabel]="dataLabel" [explode]="pieExplode"
                              explodeOffset='10%'>
                            </e-accumulation-series>
                          </e-accumulation-series-collection>
                        </ejs-accumulationchart>
                      </div>
                      <div class="e-nutrition-container">
                        <table *ngIf="innerWidth < 450; else dietElseBlock" class="e-nutrition-table">
                          <tr>
                            <td>
                              <div class="e-nutrition-text">
                                <div class="e-nutrition-img e-nutrition-protein-img"></div>
                                <div>PROTEINS</div>
                              </div>
                              <div class="e-nutrition-value">{{ currentTotalProteins }} gm</div>
                            </td>
                            <td>
                              <div class="e-nutrition-text">
                                <div class="e-nutrition-img e-nutrition-fat-img"></div>
                                <div>FAT</div>
                              </div>
                              <div class="e-nutrition-value">{{ currentTotalFat }} gm</div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="e-nutrition-text">
                                <div class="e-nutrition-img e-nutrition-carbo-img"></div>
                                <div>CARBOHYDRATES</div>
                              </div>
                              <div class="e-nutrition-value">{{ currentTotalCarbs }} gm</div>
                            </td>
                            <td>
                              <div class="e-nutrition-text">
                                <div class="e-nutrition-img e-nutrition-calcium-img"></div>
                                <div>CALCIUM</div>
                              </div>
                              <div class="e-nutrition-value">
                                {{ currentTotalCalcium < 1 ? (currentTotalCalcium * 1000) + ' mg' : currentTotalCalcium + ' gm' }}
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="e-nutrition-text">
                                <div class="e-nutrition-img e-nutrition-sodium-img"></div>
                                <div>SODIUM</div>
                              </div>
                              <div class="e-nutrition-value">
                                {{ currentTotalSodium < 1 ? (currentTotalSodium * 1000) + ' mg' : currentTotalSodium + ' gm' }}
                              </div>
                            </td>
                            <td>
                              <div class="e-nutrition-text">
                                <div class="e-nutrition-img e-nutrition-iron-img"></div>
                                <div>IRON</div>
                              </div>
                              <div class="e-nutrition-value">
                                {{ currentTotalIron < 1 ? (currentTotalIron * 1000) + ' mg' : currentTotalIron + ' gm' }}
                              </div>
                            </td>
                          </tr>
                        </table>
                        <ng-template #dietElseBlock>
                          <table class="e-nutrition-table">
                            <tr>
                              <td>
                                <div class="e-nutrition-text">
                                  <div class="e-nutrition-img e-nutrition-protein-img"></div>
                                  <div>PROTEINS</div>
                                </div>
                                <div class="e-nutrition-value">{{ currentTotalProteins }} gm</div>
                              </td>
                              <td>
                                <div class="e-nutrition-text">
                                  <div class="e-nutrition-img e-nutrition-fat-img"></div>
                                  <div>FAT</div>
                                </div>
                                <div class="e-nutrition-value">{{ currentTotalFat }} gm</div>
                              </td>
                              <td>
                                <div class="e-nutrition-text">
                                  <div class="e-nutrition-img e-nutrition-carbo-img"></div>
                                  <div>CARBOHYDRATES</div>
                                </div>
                                <div class="e-nutrition-value">{{ currentTotalCarbs }} gm</div>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <div class="e-nutrition-text">
                                  <div class="e-nutrition-img e-nutrition-calcium-img"></div>
                                  <div>CALCIUM</div>
                                </div>
                                <div class="e-nutrition-value">
                                  {{ currentTotalCalcium < 1 ? (currentTotalCalcium * 1000) + ' mg' : currentTotalCalcium + ' gm' }}
                                </div>
                              </td>
                              <td>
                                <div class="e-nutrition-text">
                                  <div class="e-nutrition-img e-nutrition-sodium-img"></div>
                                  <div>SODIUM</div>
                                </div>
                                <div class="e-nutrition-value">
                                  {{ currentTotalSodium < 1 ? (currentTotalSodium * 1000) + ' mg' : currentTotalSodium + ' gm' }}
                                </div>
                              </td>
                              <td>
                                <div class="e-nutrition-text">
                                  <div class="e-nutrition-img e-nutrition-iron-img"></div>
                                  <div>IRON</div>
                                </div>
                                <div class="e-nutrition-value">
                                  {{ currentTotalIron < 1 ? (currentTotalIron * 1000) + ' mg' : currentTotalIron + ' gm' }}
                                </div>
                              </td>
                            </tr>
                          </table>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!isSmallDevice" class="col-md-3">
            <div id="diet-profile-panel-id" class="e-panel e-diet-profile-panel" data-row="0" data-col="4"
              data-sizeX="1" data-sizeY="3">
              <div class="e-panel-container">
                <app-profile [currentDate]="currentDate" [activities]="todayActivities" [profileStats]="profileStats"
                  (notify)="onProfileDateChange($event)" (onProfileEdit)="onProfileEdit()">
                </app-profile>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </e-tabitem>
    <e-tabitem [header]='headerText[2]'>
      <ng-template #content>
        <div class="e-dashboardlayout-container e-fasting-dashboardlayout-container">
          <div class="col-md-9 e-fasting-gauge-container  e-dashboard-content">
            <div class="e-fasting-header">Fasting</div>
            <div class="col-md-12 col-sm-12">
              <div class="col-md-5 e-fasting-panel-container">
                <div id="fasting-panel-id" class="e-panel e-fasting-panel" data-row="0" data-col="0" data-sizeX="2"
                  data-sizeY="2">
                  <div class="e-panel-container">
                    <div class="e-panel-header">
                      <div class="e-fasting-panel-header-text">Fasting</div>
                    </div>
                    <div class="e-panel-content">
                      <ejs-circulargauge style='display:block;' class="e-fasting-gauge" [theme]="theme"
                        id='fastingGaugeId' #fastingGaugeId width="100%" height="300px" centerX='50%' centerY='50%'>
                        <e-axes>
                          <e-axis minimum=0 [radius]='circularGaugeRadius' maximum=100 startAngle=5 endAngle=355
                            [majorTicks]='majorTicks' [labelStyle]='gaugeLabelStyle' [lineStyle]='lineStyle'
                            [minorTicks]='minorTicks' [ranges]='ranges'
                            [annotations]='annotaions' [pointers]='pointer'>
                          </e-axis>
                        </e-axes>
                      </ejs-circulargauge>
                      <div class="e-fasting-label-container">
                        <div>Started Fasting</div>
                        <div>End Fasting</div>
                      </div>
                      <div class="e-fasting-value-container">
                        <div>{{ fastStartTime }}</div>
                        <div>{{ fastEndTime }}</div>
                      </div>
                      <div class="e-fasting-button-container">
                        <button ejs-button class="e-fast-time-btn" width="100%"
                          (click)="modifyFasting()">{{ changeTimeBtnText }}</button>
                        <button ejs-button class="e-fast-end-btn" width="100%" (click)="clearFasting()">END
                          FASTING</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-7 e-water-panel-container">
                <div id="water-panel-id" class="e-panel e-water-panel" data-row="0" data-col="2" data-sizeX="2"
                  data-sizeY="2">
                  <div class="e-panel-container">
                    <div class="e-panel-header">
                      <div class="e-water-panel-header-text">Water</div>
                    </div>
                    <div class="e-panel-content">
                      <ejs-lineargauge id="waterGaugeId" #waterGauge class="e-water-gauge" style="display:block;"
                        [container]="waterGaugeContainer" [axes]="waterGaugeAxes" [width]="gaugeWidth"
                        [height]="gaugeHeight" [orientation]="gaugeOrientation" [annotations]="waterGaugeAnnotation"
                        centerX='10%' centerY='50%' [theme]="theme">
                      </ejs-lineargauge>
                      <div class="e-water-label-container">
                        <div class="e-water-minus icon-minus" (click)="minusClick()"></div>
                        <div class="e-water-image icon-Water"></div>
                        <div class="e-water-count">X {{ consumedWaterCount }}</div>
                        <div class="e-water-plus icon-plus" (click)="plusClick()"></div>
                      </div>
                      <div class="e-water-value-container">
                        <div class="e-water-consumed-text">CONSUMED WATER</div>
                        <div class="e-water-consumed-value">{{ consumedWaterAmount }}<span
                            class="e-water-consumed-expect">
                            ml / {{ expectedWaterAmount }} ml</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div id="fasting-chart-panel-id" class="e-panel e-fasting-chart-panel" data-row="2" data-col="0"
                data-sizeX="4" data-sizeY="1">
                <div class="e-panel-container">
                  <div class="e-panel-header">
                    <div class="e-weight-chart-header-text">Weight Journey</div>
                  </div>
                  <div class="e-panel-content">
                    <ejs-chart #weightchart class="e-weight-chart" [chartArea]='chartArea' [width]='chartWidth'
                      [primaryXAxis]='weightChartPrimaryXAxis' [primaryYAxis]='weightChartPrimaryYAxis'
                      [height]="activityChartHeight" [theme]="theme" [tooltip]='weightChartTooltip'>
                      <e-series-collection>
                        <e-series [dataSource]='weightChartData' type='SplineArea' fill='url(#gradient-chart)' xName='x'
                          yName='y'></e-series>
                        <e-series [dataSource]='weightChartData' type='Spline' fill="#8983F1" xName='x' yName='y'
                          width="3" [marker]="weightChartMarker">
                        </e-series>
                      </e-series-collection>
                    </ejs-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!isSmallDevice" class="col-md-3">
            <div id="fasting-profile-panel-id" class="e-panel e-fasting-profile-panel" data-row="0" data-col="4"
              data-sizeX="1" data-sizeY="3">
              <div class="e-panel-container">
                <app-profile [currentDate]="currentDate" [activities]="todayActivities" [profileStats]="profileStats"
                  (notify)="onProfileDateChange($event)" (onProfileEdit)="onProfileEdit()">
                </app-profile>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </e-tabitem>
    <e-tabitem *ngIf="isSmallDevice" [header]='headerText[3]'>
      <ng-template #content>
        <div class="e-dashboardlayout-container  e-profile-dashboardlayout-container">
          <div class="col-md-12 col-sm-12 e-profile-panel">
            <div id="profile-panel-id" class="e-panel e-profile-panel" data-row="0" data-col="0" data-sizeX="1"
              data-sizeY="1">
              <div class="e-panel-container">
                <app-profile [currentDate]="currentDate" [activities]="todayActivities" [profileStats]="profileStats"
                  (notify)="onProfileDateChange($event)" (onProfileEdit)="onProfileEdit()">
                </app-profile>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </e-tabitem>
  </e-tabitems>
</ejs-tab>

<ejs-dialog id="add-menu-dialog" class="e-add-menu-dialog" #AddMenuDialog [header]='currentMenuHeader'
  [visible]='hidden' [animationSettings]='animationSettings' [showCloseIcon]='showCloseIcon' [target]='target'
  [width]='Dialogwidth' [buttons]='dlgButtons' [position]="dlgPosition" isModal="true"
  (overlayClick)="menuOverlayClick()">
  <ng-template #content>
    <div class="e-select-menu-label">Select Menu</div>
    <div class="e-current-menu-container">
      <div tabindex="0" *ngFor="let menu of currentMenu"
        [ngClass]="menu.isAdded ? 'e-card e-menu-card e-card-select' : 'e-card e-menu-card'"
        (click)="onMenuCardSelect($event)">
        <div class="e-card-content">
          <div class="e-menu-div">{{ menu.item }}</div>
        </div>
      </div>
    </div>
    <div class="e-quantity-label-container">
      <div class="e-quantity-label">Quantity</div>
      <div class="e-total-label">Total kcal</div>
      <div class="e-recommended-label">Recommended kcal</div>
    </div>
    <div class="e-quantity-value-container">
      <div class="e-quantity-container">
        <div class="e-quantity-value">
          <div class="e-quantity-minus icon-minus" (click)="quantityMinusClick()"></div>
          <div class=" e-quantity-count">{{ currentQuantity }}</div>
          <div class="e-quantity-plus icon-plus" (click)="quantityPlusClick()"></div>
        </div>
      </div>
      <div class="e-quantity-total-container">
        <div class="e-quantity-total">{{ currentTotalCal }} kcal</div>
      </div>
      <div class="e-quantity-recom-container">
        <div class="e-quantity-recom">{{ currentRecom }} kcal</div>
      </div>
    </div>
    <div class="e-quantity-date-label-container">
      <div class="e-quantity-date-label">Date</div>
      <div class="e-quantity-time-label">Time</div>
    </div>
    <div class="e-quantity-date-value-container">
      <div class="e-quantity-date-value">
        <ejs-datepicker id='quantity-datepicker' [width]="dateWidth" [value]='today' [enabled]="dateEnable">
        </ejs-datepicker>
      </div>
      <div class="e-quantity-time-value">
        <ejs-timepicker id='quantity-timepicker' #menutimepicker [width]="timeWidth" [value]='today'></ejs-timepicker>
      </div>
    </div>
  </ng-template>
</ejs-dialog>

<ejs-dialog id="fasting-dialog" class="e-fasting-dialog" #FastingDialog [header]='fastingDialogeader' [visible]='hidden'
  [animationSettings]='animationSettings' [showCloseIcon]='showCloseIcon' [target]='target' [width]='fastingDialogwidth'
  [buttons]='fastingDlgButtons' [position]="dlgPosition" isModal="true" (open)="dialogOpen($event)"
  (overlayClick)="fastingOverlayClick()">
  <ng-template #content>
    <div class="e-fast-start-label">Start Time</div>
    <div class="e-fast-start-date">
      <ejs-datetimepicker id="fast-start-date" #StartFastDatePicker [value]='countStartDate' [min]='minimumDate'
        [max]='maximumDate' (change)="onFastDateChange()"></ejs-datetimepicker>
    </div>
    <div class="e-fast-end-label">End Time</div>
    <div class="e-fast-end-date">
      <ejs-datetimepicker id="fast-end-date" #EndFastDatePicker [value]='countDownDate' [min]='minimumDate'
        [max]='maximumDate' (change)="onFastDateChange()">
      </ejs-datetimepicker>
    </div>
    <div class="e-fast-total-label">Total Hours</div>
    <div class="e-fast-total-value">{{ diff }}h</div>
  </ng-template>
</ejs-dialog>

<ejs-dialog id="profile-edit" class="e-profile-edit-dialog" #ProfileEditDialog [visible]='hidden'
  [animationSettings]='animationSettings' [target]='target' [width]='editDialogWidth' [height]="height"
  (open)="dialogOpen($event)" (beforeOpen)="dialogBeforeOpen()" [position]="editDlgPosition" isModal="true"
  [closeOnEscape]='showCloseIcon' (overlayClick)="overlayClick()">
  <ng-template #header>
    <div class="e-profile-edit-icon-container">
      <div class="e-profile-edit-icon-div">
        <span class="e-profile-edit-icon icon-Logo"></span>
      </div>
      <div class="e-profile-edit-title">GO<span>FIT</span></div>
    </div>
  </ng-template>
  <ng-template #content>
    <div class="e-edit-dialog-container col-md-12 col-sm-12">
      <div class="e-profile-container col-md-6 col-sm-6">
        <div class="col-md-12 col-sm-12">
          <div class="e-profile-back" (click)="closeEditDialog()"><span class="icon-arrow-left"></span><span
              class="e-profile-back-text">Back to
              Dashboard</span></div>
          <div class="e-profile-title">Profile</div>
        </div>
        <div class="e-profile-details col-md-12 col-sm-12">
          <div class="col-md-3">
            <div class="e-profile-pic-container e-avatar e-avatar-circle">
              <img src="./assets/Profile/02.png" alt="JW" />
            </div>
          </div>
          <div class="e-profile-container col-md-9">
            <div class="e-profile-label">Name</div>
            <div class="e-profile-value">
              <ejs-textbox width="80%" [value]="profileStats.name" (input)="onNameChange($event)"
                cssClass="e-profile-input"></ejs-textbox>
            </div>
            <div class="e-profile-label">Age</div>
            <div class="e-age-edit e-profile-value">
              <div class="e-age-minus icon-minus" (click)="ageMinusClick()"></div>
              <div class="e-age-count">{{ profileStats.age }}</div>
              <div class="e-age-plus icon-plus" (click)="agePlusClick()"></div>
            </div>
            <div class="e-profile-label">Weight</div>
            <div class="e-profile-value">
              <ejs-textbox width="80%" [value]="profileStats.weight + ' ' + profileStats.weightMes" readonly="true"
                cssClass="e-profile-input e-weight-text">
              </ejs-textbox>
              <div ejs-button class="e-weight-change-btn" (click)="changeWeight()"><span>CHANGE</span><span
                  class="e-change-right icon-chevron-right"></span></div>
            </div>
            <div class="e-profile-label">Set your Goal</div>
            <div class="e-profile-value">
              <ejs-textbox width="80%" [value]="profileStats.goal + ' ' + profileStats.goalMes" readonly="true"
                cssClass="e-profile-input e-goal-text">
              </ejs-textbox>
              <div ejs-button class="e-goal-change-btn" (click)="changeGoal()"><span>CHANGE</span><span
                  class="e-change-right icon-chevron-right"></span>
              </div>
            </div>
            <div class="e-profile-label">Height</div>
            <div class="e-profile-value">
              <ejs-textbox width="80%" [value]="profileStats.height + ' ' + profileStats.heightMes" readonly="true"
                cssClass="e-profile-input e-height-text">
              </ejs-textbox>
              <div ejs-button class="e-height-change-btn" (click)="changeHeight()"><span>CHANGE</span><span
                  class="e-change-right icon-chevron-right"></span></div>
            </div>
            <div class="e-profile-label">Location</div>
            <div class="e-profile-value">
              <ejs-textbox width="100%" [value]="profileStats.location" (input)="onLocationChange($event)"
                cssClass="e-profile-input">
              </ejs-textbox>
            </div>
            <div class="e-profile-label">Email</div>
            <div class="e-profile-value">
              <ejs-textbox width="100%" [value]="profileStats.email" type="email" (input)="onEmailChange($event)"
                cssClass="e-profile-input">
              </ejs-textbox>
            </div>
            <div class="e-profile-label">Theme</div>
            <div class="e-profile-value e-radio-container">
              <ejs-radiobutton #radiolight class="e-light-radio" label="Light" name="dashboard-theme" value="Light"
                checked="true" (change)="changeHandler($event)"></ejs-radiobutton>
              <ejs-radiobutton #radiodark cssClass="e-dark-radio" label="Dark" name="dashboard-theme" value="Dark"
                (change)="changeHandler($event)"></ejs-radiobutton>
            </div>
          </div>
        </div>
      </div>
      <div class="e-modify-container col-md-6 col-sm-6">
        <div class="e-modify-title">{{ modifyHeaderTitle }}</div>
        <div class='e-weight-modify-btn-group e-btn-group e-outline'>
          <input type="radio" id="KG" name="modifyunit" value="KG" checked="true" (change)="handleChange($event)" />
          <label class="e-btn" for="KG">KG</label>
          <input type="radio" id="LB" name="modifyunit" value="LB" (change)="handleChange($event)" />
          <label class="e-btn" for="LB">LB</label>
        </div>
        <div class='e-height-modify-btn-group e-btn-group e-outline e-hidden'>
          <input type="radio" id="CM" name="modifyunit" value="CM" checked="true" (change)="handleChange($event)" />
          <label class="e-btn" for="CM">CM</label>
          <input type="radio" id="FT" name="modifyunit" value="FT" (change)="handleChange($event)" />
          <label class="e-btn" for="FT">FT</label>
        </div>
        <div class="e-weight-gauge-container">
          <ejs-circulargauge #weightgauge id='weightgauge' style='display:block;' [theme]="theme" width="100%"
            height="300px" [centerX]='weightGaugeCenterX' [centerY]='weightGaugeCenterY'>
            <e-axes>
              <e-axis [lineStyle]='weightGaugeLineStyle' [majorTicks]='weightGaugeMajorTicks'
                [minorTicks]='weightGaugeMinorTicks' [radius]='weightGaugeRadius' [labelStyle]='weightGaugeLabelStyle'
                [minimum]='weightGaugeMinimum' [maximum]="weightGaugeMaximum" [startAngle]='weightGaugeStartAngle'
                [endAngle]='weightGaugeEndangle' [ranges]='weightGaugeRanges' [pointers]='weightGaugePointers'
                [annotations]='weightGaugeAnnotaions' [background]="weightGaugeBackground">
              </e-axis>
            </e-axes>
          </ejs-circulargauge>
          <div class="slider-container">
            <ejs-slider id="weightrange" #weightrange [value]="profileStats.weight" [type]="mintype" width="50%"
              (change)="sliderChange()" [min]="weightSliderMin" [max]="weightSliderMax"
              cssClass="weight-slider-container" [limits]="weightSliderLimit"></ejs-slider>
          </div>
          <div class="e-add-weight">
            <button ejs-button cssClass='e-primary' (click)="updateWeight()">UPDATE WEIGHT</button>
          </div>
          <div class="e-cancel-weight">
            <button ejs-button cssClass='e-outline' (click)="cancelWeight()">CANCEL</button>
          </div>
        </div>
        <div class="e-height-gauge-container e-hidden">
          <div class="e-base-container">
            <div class="e-height-img-container">
              <div class="e-age-edit e-profile-height-label">{{ profileStats.height }}
                <span>{{ profileStats.heightMes }}</span></div><img id="height-svg"
                [src]='"./assets/Profile/"+humanImg+".svg"' alt="Height" />
            </div>
            <ejs-lineargauge id="heightgauge" #heightgauge style="display:block;" orientation="Vertical"
              [container]="heightGaugeContainer" [axes]="heightGaugeAxes" width="100px" height="400px" [theme]="theme">
            </ejs-lineargauge>
            <div class="slider-container" style="height: 390px; width: 50px; margin-top: 5px;">
              <ejs-slider id="heightrange" #heightrange [value]="profileStats.height" [type]="mintype" width="100px"
                height="300px" (change)="sliderHeightChange()" [min]="heightSliderMin" [max]="heightSliderMax"
                [orientation]="orientation" cssClass="height-slider-container" [limits]="heightSliderLimit">
              </ejs-slider>
            </div>
          </div>
          <div class="e-add-height">
            <button ejs-button cssClass='e-primary' (click)="updateHeight()">UPDATE HEIGHT</button>
          </div>
          <div class="e-cancel-height">
            <button ejs-button cssClass='e-outline' (click)="cancelHeight()">CANCEL</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ejs-dialog>

<router-outlet></router-outlet>
